<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dawang_0.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangzhuan_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{153,1},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangzhuan_10.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{305,1},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangzhuan_11.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{1,108},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangzhuan_12.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{153,108},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangzhuan_13.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{305,108},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangzhuan_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{1,215},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangzhuan_3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{153,215},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangzhuan_4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{305,215},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangzhuan_5.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{1,322},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangzhuan_6.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{153,322},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangzhuan_7.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{305,322},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangzhuan_8.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{1,429},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fangzhuan_9.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{153,429},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heitao_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{305,429},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heitao_10.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{1,536},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heitao_11.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{153,536},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heitao_12.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{305,536},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heitao_13.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{1,643},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heitao_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{153,643},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heitao_3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{305,643},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heitao_4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{1,750},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heitao_5.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{153,750},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heitao_6.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{305,750},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heitao_7.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{1,857},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heitao_8.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{153,857},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heitao_9.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{305,857},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hongxin_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{1,964},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hongxin_10.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{153,964},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hongxin_11.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{305,964},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hongxin_12.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{1,1071},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hongxin_13.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{153,1071},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hongxin_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{305,1071},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hongxin_3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{1,1178},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hongxin_4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{153,1178},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hongxin_5.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{305,1178},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hongxin_6.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{1,1285},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hongxin_7.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{153,1285},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hongxin_8.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{305,1285},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hongxin_9.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{1,1392},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meihua_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{153,1392},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meihua_10.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{305,1392},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meihua_11.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{1,1499},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meihua_12.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{153,1499},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meihua_13.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{305,1499},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meihua_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{1,1606},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meihua_3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{153,1606},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meihua_4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{305,1606},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meihua_5.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{1,1713},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meihua_6.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{153,1713},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meihua_7.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{305,1713},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meihua_8.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{1,1820},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meihua_9.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{153,1820},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaowang_0.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{305,1820},{105,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{456,1926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94126f306a64172ce3670354dbe0ec9f:67f5dd669464a44320fa417a1058d8da:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
